.comment-overlay {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
}

.comment-marker {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    background: #cc8fe3;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: move;
}

.comment-tooltip {
    pointer-events: auto;
    position: absolute;
    left: 40px;
    top: 0;
    background: #3A3A3C;
    padding: 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    transform: scale(0.95);
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    width: 200px;

    z-index: 1000;
    color: #F5F5F5;

    &.visible {
        opacity: 1;
        transform: scale(1);
    }

    .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comment-body {
        display: block;
        margin-top: 4px;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 200px;
    }

    .comment-time {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 12px;
        color: #7E7E7E;
    }

    .delete-btn {
        background: none;
        border: none;
        color: #F5F5F5;
        font-size: 12px;
        cursor: pointer;
    }
}

.comment-input {
    pointer-events: auto;
    width: 100%;
    min-height: 32px;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 4px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 12px;
    padding: 4px;
    color: #F5F5F5;
    resize: none;
}

.select {
    pointer-events: auto;
    user-select: text;
    -webkit-user-select: text;
}