.layout {
    position: absolute;
    top: 64px; /* under the toolbar */
    left: 242px; /* right edge of the left sidebar */
    right: 242px; /* left edge of the right sidebar */
    bottom: 0;
    display: flex;
    overflow: hidden;
}

.flex {
    flex: 1;
}

app-canvas {
    flex: 1;
    display: block;
}