.layer-row {
    box-sizing: border-box;
    width: 210px;
    height: 24px;
    border-radius: 2px;
    background: #3A3A3C;
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    cursor: pointer;

    &.selected {
        background: #554352;
    }

    .idx {
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: 12px;
        color: #7E7E7E;
    }

    .title {
        flex: 1;
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 12px;
        color: #F5F5F5;
    }

    input {
        width: 100%;
        height: 20px;
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 12px;
    }

    .edit-icon {
        font-size: 12px;
        color: #7E7E7E;
        cursor: text;
    }
}