<div class="property-row">
    <span class="label">{{ label }}</span>
    <div class="value-container" (click)="!editing && startEdit()">
        <ng-container *ngIf="!editing; else editTpl">
            <span class="value">{{ formattedValue }}{{ unit || '' }}</span>
        </ng-container>
        <ng-template #editTpl>
            <input #inputEl [value]="displayValue" (input)="displayValue = $any($event.target).value"
                (blur)="finishEdit()" (keydown)="onKeydown($event)" />
            <span class="unit">{{ unit }}</span>
        </ng-template>
    </div>
</div>