.property-row {
    width: 210px;
    height: 24px;
    background: #3A3A3C;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    gap: 8px;

    .label {
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: 12px;
        color: #7E7E7E;
        flex: 0 0 auto;
    }

    .value-container {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: text;
    }

    .value {
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 12px;
        color: #F5F5F5;
    }

    input {
        width: 100%;
        height: 20px;
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        border: none;
        outline: none;
        color: #F5F5F5;
        letter-spacing: 0.02rem;
        text-align: right;
    }

    .unit {
        margin-left: 4px;
        font-family: 'SF Pro Display';
        font-weight: 400;
        font-size: 12px;
        color: #F5F5F5;
    }
}